node_modules/
.env


# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

.auth/*

# VitePress
docs/.vitepress/dist/
docs/.vitepress/cache/

*.log
.DS_Store
.auth/playwright.json
